body{
    background-color: rgb(46, 29, 13);
}

.entry-creation-form-container{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}



.entry-creation-form{
    textarea{
        border: none;
        border-radius: 10px;
        background-color: black;
        color: antiquewhite;
    }
    input{
        border-radius: 10px;
        border: none;
        background-color: white;
        color: black;
    }
    display: flex;
    flex-direction: column;
    width: 40%;
    
}


.entries-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}


.entry-item{
    color: antiquewhite;
    display: flex;
   
    background-color: gray;
    border: solid 1px black;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
button{
    border-radius: 10px;
    width: 40%;
    border: solid 1px black;
    background-color: white;
    color: black;
}
button:active{
    transition: 0.3s;
    background-color: gray
}
}

.entry-edit-form{
    textarea{
        border: none;
        border-radius: 10px;
    }
     input{
        border-radius: 10px;
        border: solid 1px black;
        background-color: white;
        color: black;
    }
    input:active{
        transition: 0.3s;
        background-color: gray
    }
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: baseline;
}